      
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Petz</h5>
              
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text"  >Youtube</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/watch?v=sfQOiDJX-x4">Bad bunny</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2021 Copyright Text
          <a class="grey-text text-lighten-4 right" href="https://www.apple.com/mx/shop/product/MM6F3AM/A/pa%C3%B1o-de-pulido?fnode=c4b470e18d67f9f2df81526598ed5f18be51b34ef4f89b4c85df223526840a07aaa031d897f4b726d672eb8e0ee157b920d68afacdf7ae0eab7ef5e48a95b30332477c2a89fa87678111efb983d0407fb97b87ec8ff0c9dd83ca941ff09f4b47">Paño de 549$ Apple</a>
          </div>
        </div>
      </footer>
          

      <script src="/js/materialize.min.js"></script>
      <script src="/js/jquery-3.6.0.min.js"></script>
      <script src="/js/datatables.min.js"></script>
      <script>
        $(document).ready(function() {
        $('#historial').DataTable();
         } );
        
      
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
      });

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
      });
         
      </script>
  </body>
  </html>