<div class="container">
    <h3>Zombies</h3>
      <table class="responsive-table center" style="width:100%" >
        <thead>
          <tr> 
            <th>Nombre</th>
            <th>Estado</th>
            <th>Fecha</th>
            

          </tr>
        </thead>
        //
        <tbody>
          <%  for(let zombie of zombies){  %>
          
          <tr>
            <td><%= zombie.nombre_zombie %></td>
            <td><%= zombie.tipo_estado %></td>
            <td><%= zombie.fecha %></td>
            

          </tr>
          <% } %>

      
          
        </tbody>
    </table> 
    
      
    
    </div>